* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
}

.wrapper {
  min-height: 100vh;
  padding: 1rem;
  background: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(#ebb19f77), color-stop(#ffc9a677), to(#eee));
  background: linear-gradient(to top, #ebb19f77, #ffc9a677, #eee);
}

.wrapper h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.topbar {
  max-width: 80%;
  height: 2rem;
  margin: auto;
  display: -ms-grid;
  display: grid;
  color: #333;
  -ms-grid-columns: (minmax(1rem, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.stars {
  display: -ms-grid;
  display: grid;
  grid-gap: 1pt;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  justify-items: start;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding: 2rem;
  border-radius: 10px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  background: #CC95C0;
  background: -webkit-gradient(linear, left top, right bottom, from(#96b7df), color-stop(#e9e3c8), to(#ddadd3));
  background: linear-gradient(to bottom right, #96b7df, #e9e3c8, #ddadd3);
  -ms-grid-columns: (minmax(auto, 10vh))[4];
      grid-template-columns: repeat(4, minmax(auto, 10vh));
  -ms-grid-rows: (minmax(auto, 10vh))[4];
      grid-template-rows: repeat(4, minmax(auto, 10vh));
  grid-gap: 1rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left bottom, right top, from(#3f4c6b), to(#606c88));
  background: linear-gradient(to top right, #3f4c6b, #606c88);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.item::before {
  height: 100%;
  width: 100%;
  color: #333;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  visibility: collapse;
}

.item:hover {
  border: 2px solid white;
}

.flipped {
  background-color: #ee9617;
  background-image: linear-gradient(315deg, #fe5858 0%, #ee9617 74%);
}

.flipped::before {
  visibility: visible !important;
}

.flip {
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}

.flip::before {
  visibility: visible !important;
}

.modal {
  position: absolute;
  z-index: 1;
  color: #eee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal .result {
  padding: 2rem;
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left bottom, right top, from(#3f4c6b), to(#606c88));
  background: linear-gradient(to top right, #3f4c6b, #606c88);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal .result h1 {
  margin: 1rem;
  font-size: 2rem;
}

.modal .result p {
  margin: 1rem;
}

.modal .result p .result-stars {
  font-size: 2rem;
}

.modal .result span {
  margin: 0.5rem;
  display: block;
}

.fa-repeat:hover {
  cursor: pointer;
}

@media all and (min-width: 720px) {
  html {
    font-size: 24px;
  }
}

@media all and (max-width: 360px) {
  .container {
    grid-gap: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */